export(mcprofile, wald, hoa, mcprofileControl)
exportClasses("mcprofile", "mcpCI", "mcpSummary", "mcprofileControl")

import(ggplot2)
importFrom("quadprog", solve.QP)
importFrom("splines", interpSpline)
importFrom("mvtnorm", pmvnorm, pmvt, qmvnorm, qmvt)

S3method(mcprofile, lm)
S3method(mcprofile, glm)
S3method(print, mcprofile)
S3method(plot, mcprofile)
S3method(summary, mcprofile)
S3method(confint, mcprofile)
S3method(print, mcpCI)
S3method(plot, mcpCI)
S3method(exp, mcpCI)
S3method(expit, mcpCI)
S3method(print, mcpSummary)


